* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 
.header {
    font-size: 0;
}
.wrapper-light {
       margin: auto;
       background-color: #fff;
}

.container {
    width: 1110px;
    margin: auto;
}
.hearer-menu {
    height: 90px;
    
}
.logo {
    width: 75px;
    height: 20px;
    float: left;
    margin: 40px 0 30px;
    z-index: 10000;
}
.navigator {
    margin: 42px 0 37px;
}
.menu {
    text-decoration: none;
    margin: auto;
    float: right;
    padding-top: 40px;
    
    
}
.menu-item {
    font-family: 'Open Sans' sans-serif;
    font-weight: bold;
    float: left;
    display: inline-block;
    font-size: 14px;
    margin-right: 35px;   

}
.menu-link {
    text-decoration: none;
    text-transform: uppercase;
    color: #0f0101;
}
.menu-link:hover {
    color: #1abc9c;
}
.menu-item:last-child {
    margin-right: 0;
}
.header-pic {
    background-image: url(../img/hader-pic.jpg);
    height: 595px;
}
.header-news {
    width: 1110px;
    height: 595px;
    margin: auto;
    position: relative;
    
}
.news-text {
   padding-top: 235px;
   margin-left: 200px;
}
.h-news {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 50px;
    color: #fff;
    text-transform: uppercase;
    
}
.p-news {
    src: url(../myriad.otf);
    font-family: "Myriad Pro" sans-serif; 
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
    
}



.link-left {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background-color: #1abc9c;
    opacity: 0.651;
    width: 100px;
    height: 100px;
        
}
.link-right {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background-color: #1abc9c;
    opacity: 0.651;
    width: 100px;
    height: 100px;
    
        
}
.btn-news {
    width: 100px;
    height: 100px;
    border: none;
    background-color: #1abc9c;
}
.link-left:hover {
    opacity: 1;    
}
.link-right:hover {
    opacity: 1;     
}

