.wrapper-blue {
    background-color: #e9f0fd;
    
}
.container {
    width: 1110px;
    margin: auto;
}
.title {
    padding-top: 100px;
    color: #515151;
    font-size: 48px;
    text-align: center;
    text-transform: uppercase;
    display: block;
        
}
.title::after {
    content: '';
    display: block;
    height: 7px;
    margin: 30px auto 80px;    
    width: 160px;
    background-color:  #1abc9c;
    vertical-align: middle;
    border-radius: 3px;
}
.products-cards {
    font-size: 0;
    padding-bottom: 100px;
}

.cards {
    width: 255px;
    height: 320px;
    float: left;
    margin: 0 30px 30px 0;
    display: block;
    position: relative;
}
.cards:nth-child(4n+4) {
    margin-right: 0;
}
.cards:nth-child(n+4) {
    margin-bottom: 0;
}
.products-img {
    height: 280px; 
    width: 255px;
}
.name {
    text-transform: uppercase;
    padding: 10px 0 10px 10px;
    width: 200px;
    height: 40px;
    float: left;
    color: #fff;
    background-color: #323232;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}
.price {
    width: 55px;
    height: 40px;
    background-color: #8c8c8c;
    float: left;
    font-size: 18px;
    text-align: center;
    padding-top: 10px;
    color: #fff;
    font-family: 'Roboto', sans-serif;

} 
.cards:hover .name {
    background-color:  #1abc9c;
   }
.cards:hover .price {
    background-color:  #7fd9c7;
   }
.hiding-menu {
       position: absolute;
       background-color: rgba(115, 115, 115, 50%);       
       width: 235px;
       height: 260px;  
       top: 44%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;    
   }
.icon {
       position: absolute;
       top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

   }
.link-icon {
       width: 50px;
       height: 50px;
       display: inline-block;
       margin-right: 7.5px;
             
   }
.link-icon:nth-child(3) {
    margin-right: 0;
}
.link-icon:nth-child(4) {
    margin-bottom: 0;
    margin-right: 0;
}
.link-icon4 {
     border: 1px solid #fff;
     width: 165px;
     height: 50px;
     display: inline-block;
     margin-top: 5px;
 }
.p-icon {
    font-family: 'Roboto', sans-serif; 
    font-size: 14px;
    color: #fff; 
    
    text-transform: uppercase;
    float: left;
    margin: 18px auto 18px;
    
    

 }
.icon4 {
     
     width: 26px;
     height: 26px;
     float: left;
     margin: 12px;
 }
 .hiding-menu:hover {
     opacity: 1;
     transition: 1s;
 }
 .link-icon:hover {
    background-color:#1abc9c;
 }
 .link-icon4:hover {
background-color: #323232;
 }