.container {
    font-family: "PlayfairDisplay" sans-serif;
    width: 900px;
    text-align: center;
    margin: auto;
}

.menu {
    padding: 75px 0 100px;
}

.link {
    color: #626262;
    display: inline-block;
    margin-right: 105px;
    tab-size: 14px;
    text-transform: uppercase;
}
.link:hover {
    color: #14aff5
}

.link:last-child {
    margin-right: 0;
}



.info-cards {
    font-size: 0;
    width: 900px;
    margin: auto;
    text-align: center;
}

.card {
    display: inline-block;
    margin-right: 60px;
    vertical-align: top;
    width: 420px;
    margin-bottom: 135px;
}

.card:nth-child(2n+2) {
    margin-right: 0;
}

.card:nth-child(n+4) {
    margin-bottom: 0;
}

.text-menu {
    font-family: "Ubuntu" sans-serif;
    font-size: 14px;
    text-align: left;
    text-transform: uppercase;
    color: #c7c1b6;
    padding: 30px 0 30px;
    font-weight: 300;
    
}

.title {
    font-family: "PlayfairDisplay" sans-serif;
    font-size: 30px;
    color: #626262;
    text-align: left;
    font-weight: 500;
    margin-bottom: 40px;
    width: 400px;
}

.text {
    font-family: "PlayfairDisplay" sans-serif;
    font-size: 14px;
    color: #777;
    text-align: left;
    font-weight: normal;
    width: 420px;
}

.button-load {
    padding: 20px 35px;
    font-size: 20px;
    font-family: "PlayfairDisplay" sans-serif;
    margin: 50px 0 70px 0;
    background-color: none;
    color: #777;
    background-color: #fff;
    
    
    
}