
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import "bootstrap-grid.css";

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
}

.wrapper-img {
    background-image: url(./img/bg1.png);
    background-repeat: no-repeat;
    width: 100%;
    background-position: center;
    background-size: cover;   
}
.center {
    display: flex;
    justify-content: center;
}

.header-nav {
    margin-top: 2rem;
}

.header-log {
    list-style: none;
}

.login {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.4rem;
    font-weight: bold;
    color: #fff;
    border: 2px solid rgba(255, 255, 255, 0);
    border-radius: 50px;
    padding: 0.9rem 1.5rem;
    text-decoration: none;
}

.login:hover {
    border: 2px solid rgba(255, 255, 255, 1);
    color: #fff;
    text-decoration: none;
}

ul {
    margin-bottom: 12rem;
}

.logo {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 2rem;
    color: #fff;
    text-decoration: none;
    padding-bottom: 2rem;
    display: block;
    text-align: center;
}

.logo:hover {
    color: #fff;
    text-decoration: none;
}

.header-title {
    font-size: 3rem;
    text-align: center;
    padding-bottom: 2rem;
    color: #fff;
}

.header-title-text {
    font-size: 1.8rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    padding-bottom: 2rem;
    color: #fff;
    text-align: center;
    padding-left: 3.5rem;
    padding-right: 3.5rem;
}

.header-btn {
    border-radius: 50px;
    padding: 1.5rem 5rem;
    background-color: #ff4e50;
    text-decoration: none;
    font-size: 1.4rem;
    color: #fff;
    text-align: center;
    font-weight: bold;
}

.header-btn:hover {
    text-decoration: none;
    color: #fff;
}

.header-button {
    padding-bottom: 13.5rem;
}

.main-text {
    padding: 7rem 3rem 2rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 2.2rem;
    text-align: center;
}

.main-card {
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center;
    justify-content: center;
}

.main-icon {
    position: relative;
    width: 12.1rem;
    height: 12.1rem;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0;
    bottom: 0;
    position: absolute;
    width: 3.5rem;
    height: 3.5rem;
    border: 0.4rem solid #fff;
    border-radius: 50%;
}

.icon1 {
    background-color: #ff4e50;
}

.icon2 {
    background-color: #ffa507;
}

.icon3 {
    background-color: #1cd7ad;
}

.icon4 {
    background-color: #4e73db;
}

.main-title {
    padding: 2rem 5rem 2rem;
    font-size: 1.4rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-align: center;
}

.main-card-text {
    padding: 0 5rem 3rem;
    font-size: 1.4rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    text-align: center;
    color: #7a7a7a;
}

.main-a {
    font-size: 1.4rem;
    font-family: 'Roboto', sans-serif;
    color: #ff6667;
    border: 2px solid #ff6667;
    border-radius: 50px;
    padding: 1.5rem 5rem;
    text-decoration: none;
    margin-bottom: 5.7rem;
    display: block;
    text-align: center;
}

.main-a:hover {
    color: #ff6667;
    text-decoration: none;
}

@media (min-width: 768px) {
    .wrapper-img {
        background-image: url(./img/bg2.png);
        background-repeat: no-repeat;
        width: 100%;
        background-position: center;
        background-size: cover;    
    }

    .logo {
        margin-bottom: 8.5rem;
        text-align: left;
    }

    .header-title {
        font-size: 5.197rem;
        padding-bottom: 3.5rem;
    }

    .header-title-text {
        font-size: 2.39rem;
    }

    .header-p {
        padding-bottom: 3.5rem;
    }

    .main-card {
        width: 22rem;
    }
    
    .main-title {
        margin-top: 2rem;
    }
}

@media (min-width: 1440px) {
    .wrapper-img {
        background-image: url(./img/bg3.png);
        background-repeat: no-repeat;
        width: 100%;
        background-position: center;
        background-size: cover;    
    }

    .header-title {
        font-size: 5.2rem;
        padding-bottom: 3.5rem;
    }
      
    .header-title-text {
        font-size: 2.4rem;
    }

    .main-card {
        align-items: center;
        width: 22.5rem;
    }
    .main-a {
        margin-bottom: 7rem;
    }
    } 