.services {
    width: 1200px;
    margin: auto;
}

.main-title-itl {
    font-size: 24px;
    font-family: 'Kaushan Script';
    padding: 50px 0 20px;
}

.main-title-bold {
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}

.main-title-bold::after {
    content: '';
    display: block;
    height: 3px;
    margin: 43px auto 65px;    
    width: 60px;
    background-color:  #f38181;
    vertical-align: middle;
}

.services-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 1200px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
}

.services-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 320px;
    min-width: 320px;
    margin-bottom: 100px;   
}

.services-item {
    margin-bottom: 23px;
    color: #666666;
    font-size: 14px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
}

.services-text {
    color: #b3b3b3;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
}

.services-item:nth-last-child(-1n+3) {
    margin-bottom: 23px;
}

.team {
    margin: auto;
    width: 1200px;  
}

.team-text {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    text-align: center;
    color: #9f9f9f;
    padding-bottom: 95px;
    width: 940px;
}

.team-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; 
}

.cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    position: relative;
}

.foto-team {
    width: 380px;
    height: 470px;
}
.hidding-card:hover {
    -webkit-transform: translate(-10px, -10px);
        -ms-transform: translate(-10px, -10px);
            transform: translate(-10px, -10px);
    -webkit-transition: 200ms linear;
    -o-transition: 200ms linear;
    transition: 200ms linear;
}

.team-title-itl {
    font-size: 24px;
    text-align: center;
    font-family: 'Kaushan Script';
}

.team-title-bold {
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}

.team-title-bold::after {
    content: '';
    display: block;
    height: 3px;
    margin: 43px auto 65px;    
    width: 60px;
    background-color:  #f38181;
    vertical-align: middle;
}

.name-proffesion {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 80px;
}

.name {
    text-transform: uppercase;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    color: #666666;
    padding: 30px 0 15px;
    font-weight: 600;
}

.proffesion {
    font-size: 15px;
    text-transform: capitalize;
    color: #9f9f9f;
    font-style: italic;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.hidding {
    width: 380px;
    height: 470px;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(241, 148, 140, 50%)), to(rgba(237, 213, 135, 50%)));
    background: -webkit-linear-gradient(rgba(241, 148, 140, 50%), rgba(237, 213, 135, 50%));
    background: -o-linear-gradient(rgba(241, 148, 140, 50%), rgba(237, 213, 135, 50%));
    background: linear-gradient(rgba(241, 148, 140, 50%), rgba(237, 213, 135, 50%));
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: absolute;
    opacity: 0;    
}

.icon-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
   
}

.icon-social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 55px;
    height: 55px;
    background-color: #fce38a;
    margin-right: 1px;
    position: relative;   
}

.icon-cards {
    width: 55px;
    height: 55px;
}

.icon-social:hover {
    background-color: #f38181;
}

.icon-social:hover .icon-cards{
    fill: #fff;
}

.hidding:hover {
    /* transform: translate(-10px, -10px); */
    -webkit-box-shadow:  10px 10px 0px 0px rgba(149, 225, 211);
            box-shadow:  10px 10px 0px 0px rgba(149, 225, 211);
    opacity: 1;
    -webkit-transition: 200ms linear;
    -o-transition: 200ms linear;
    transition: 200ms linear;
}

.bg-icon1 {
    width: 80px; height: 31px;
    background: url("../img/css_sprites.png") -62px -62px;
    margin-right: 25px;
}

.bg-icon2 {
    width: 80px; height: 32px;
    background: url("../img/css_sprites.png") -10px -10px;
    margin-right: 25px;
}

.bg-icon3 {
    width: 80px; height: 28px;
    background: url("../img/css_sprites.png") -114px -61px;
    margin-right: 25px;
}

.bg-icon4 {
    width: 80px; height: 32px;
    background: url("../img/css_sprites.png") -62px -10px;
    margin-right: 25px;
}

.bg-icon5 {
    width: 80px; height: 31px;
    background: url("../img/css_sprites.png") -114px -10px;
    margin-right: 25px;
}

.bg-icon6 {
    width: 80px; height: 32px;
    background: url("../img/css_sprites.png") -10px -62px;
    margin-right: 25px;
}